/* Context menu */
.context-menu {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
    z-index: 9;
    background: #9C978B;
}

    .context-menu ul {
        list-style: none;
        padding: 2px;
    }

        .context-menu ul li {
            padding: 5px 2px;
            margin-bottom: 3px;
            color: #004242;
            background-color: #9C978B;
            
        }

            .context-menu ul li.selected {
                background-color: white;
                font-weight: bold;
            }

            .context-menu ul li:hover {
                cursor: pointer;
                background-color: #7fffd4;
            }

    .context-menu select {
        width:200px;
    }
/* Colors */
.Gainsboro, .Orange, .Plum {
    width: 15px;
    height: 15px;
    border: 0px solid black;
    display: inline-block;
    margin-right: 5px;
}

.Gainsboro {
    background-color: Gainsboro;
}

.Orange {
    background-color: Orange;
}

.Plum {
    background-color: Plum;
}
