
    .ourLink:hover .hoverText {
        visibility: visible;
    }

    .ourLink .bumper {
        visibility: hidden;
        display: none;
    }

    .ourLink:hover .bumper {
        visibility: visible;
        display: contents;
    }

.container {
    border-radius: 3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

    h2:hover {
        cursor: pointer;
    }

