.ourLink {
    position: relative;
    background-color: #fffacd;
    color: black !important;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

    .ourLink .hoverText {
        visibility: hidden;
        width: 200px;
        background-color: grey;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }

    .ourLink:hover .hoverText {
        visibility: visible;
    }

    .ourLink .bumper {
        visibility: hidden;
        display: none;
    }

    .ourLink:hover .bumper {
        visibility: visible;
        display: contents;
    }

.container {
    border-radius: 3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

    h2:hover {
        cursor: pointer;
    }

/* Context menu */
.context-menu {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
    z-index: 9;
}

    .context-menu ul {
        list-style: none;
        padding: 2px;
    }

        .context-menu ul li {
            padding: 5px 2px;
            margin-bottom: 3px;
            color: white;
            font-weight: bold;
            background-color: darkturquoise;
        }

            .context-menu ul li:hover {
                cursor: pointer;
                background-color: #7fffd4;
            }

/* Colors */
.Gainsboro, .Orange, .Plum {
    width: 15px;
    height: 15px;
    border: 0px solid black;
    display: inline-block;
    margin-right: 5px;
}

.Gainsboro {
    background-color: Gainsboro;
}

.Orange {
    background-color: Orange;
}

.Plum {
    background-color: Plum;
}