.ourLink {
    position: relative;
    background-color: #fffacd;
    color: black !important;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

    .ourLink .hoverText {
        visibility: hidden;
        width: 200px;
        background-color: grey;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }

    .ourLink:hover .hoverText {
        visibility: visible;
    }

    .ourLink .bumper {
        visibility: hidden;
        display: none;
    }

    .ourLink:hover .bumper {
        visibility: visible;
        display: contents;
    }

.container {
    border-radius: 3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

    h2:hover {
        cursor: pointer;
    }

